$white: #fff;
$black: #000;
$shark: #1B1E21;
$blackHaze: #E9EAEA;
$alabaster: #f7f7f7;
$abbey: #464a4c;
$errorRed: #ff4b4b;
$boulder: #757575;

$seashell: #FFF4EA;
$melon: #FFBFB2; 
$blizzardBlue: #B2F2FF;
$dodgerBlue: #4392F1; 
$white: #FFFFFF;

$independence: #555B6E;
$morningBlue: #89B0AE;
$powderBlue: #BEE3DB;
$cultured: #FAF9F9;
$apricot: #FFD6BA;

$imperialRed: #E63946;
$honeydew: #F1FAEF;
$powderBlue: #A8DADC;
$celadonBlue: #457B9D;
$prussianBlue: #1D3557;